<header class="header-section">
    <div class="container-fluid p-2 text-white" style="background-color: #986665;">
        <div class="row">
            <div class="col-md-4 text-center">
                <div class="site-logo">
                    <h4><a href="#" class="text-white" >Teste Digistarts</a></h4>
                </div>

            </div>
            <div class="col-md-4 text-center">
                <a href="https://wa.me/5511975747199?text=Olá%20gostaria%20de%20saber%20sobre%20" class="text-white"><img src="../../assets/img/logo-whats.png" alt="whatts"> +55 (11) 97574-7199</a>
                
            </div>
            <div class="col-md-4 text-center">
                <a href="mailto:antoniolispbr@gmail.com" class="text-white"><i class="fa fa-envelope-o" aria-hidden="true"></i> antoniolispbr@gmail.com</a>
            </div>
        </div>
    </div>
</header>
